*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Roboto;
}

/* HEADER */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20%;
  background-color: #1f2937;
  color: white;
}

.logo{
  font-size: 24px;
}

nav ul{
  display: flex;
  gap: 24px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* HERO SECTION */

.hero-section{
  display: flex;
  background-color: #1f2937;
  padding: 10% 20%;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.hero-left,
.image-placeholder{
  width: 400px;
  height: 250px;
  color: #e5e7eb;
  font-size: 16px;
}

.hero-title{
  font-size: 48px;
  color: #f9faf8;
}

.image-placeholder{
  flex-grow: 1;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}

.hero-left{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

.hero-button{
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 6px 24px;
  border-radius: 4px;
  flex-grow: 0;
}